.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  max-width: 1350px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 80px;
}

.carousel {
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.carousel-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

.carousel-caption h2 {
  font-size: 1.8rem;
  margin: 0 0 5px;
}

.carousel-caption p {
  font-size: 1rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  color: #191919;
  text-align: center;
  max-width: 700px;
  margin-bottom: 40px;
}

.home-content h1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #f8f1f1;
}

.home-content p {
  font-size: 1.1rem;
  color: #bcbff8;
}

.explore-button {
  background: linear-gradient(90deg, #797AE0, #18b86d);
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.benefits-section {
  display: flex;
  justify-content: space-around; 
  background-color: #f4f5f7;
  padding: 40px;
  border-radius: 8px;
  margin-top: 30px;
  width: 100%;
  max-width: 1300px;
  flex-wrap: wrap;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white; 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s; 
  width: 180px; 
  margin: 10px; 
}

.benefit:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.benefit-icon {
  color: #646cff;
  font-size: 2rem;
  margin-bottom: 10px; 
}

.benefit h3 {
  font-size: 1.2rem;
  margin: 10px 0 5px;
}

.benefit p {
  font-size: 0.9rem;
  color: #555;
}

@media (min-width: 768px) {
  .home-section {
    flex-direction: column;
    align-items: center;
  }

  .home-content {
    text-align: center;
    max-width: 700px;
  }
}
